<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="google-site-verification" content="B15e0mXMmJ05_gBsO4vuk3O50nC5Ym2raCyUyRJW2qI" />
	
	{{! Page Meta }}
	
	{{#if post}}
	<title>{{meta_title}}</title>
	<meta name="keywords" content="{{#each post.tags}}{{name}},{{/each}}">
	{{else}}
	<title>Marc Charbonneau's Blog</title>
	<meta name="keywords" content="cocoa, mbcharbonneau, objective-c, osx, portland">
	{{/if}}

	<meta name="description" content="A collection of programming tips and thoughts from Marc Charbonneau, a software engineer in Portland OR." />

	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />

	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	
	{{> sidebar }}

	<div class="content">
		{{{body}}}
	</div>

	{{! ghost_foot prints a unminified version of jquery here :/ }}
	{{!ghost_foot}}

	{{! The main JavaScript file for Casper }}
	{{> analytics}}

</body>
</html>